
<h3>@ViewBag.Message</h3>
<br />


<h4>Name : Vishwajit Kathe</h4>

<h5>I have recently completed Post Graduate Diploma in Advanced Computing(PG-DAC) from CDAC. </h5>

 Programming Languages stack :
<ul>
    <li>C#</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>SQL</li>
    <li>MySQL</li>
</ul>

<div class="jumbotron">

    Total Working Experience:- 2.7 Years
    <br />
    Relevant Experience : Fresher
    <br />
    Current CTC:- 2.4 LPA
    <br />
    Expected CTC:- Between 3.5 LPA to 5 LPA
    <br />
    Notice period:- Immediately
    <br />
    Current location:- Nashik
    <br />
</div>

<h5>Very Thankful to you for showing interest in my Profile.</h5>